<div class="menu">
    <button (click)="navigateNewPost()">Novo Post</button>
</div>

<div class="categoryArea">
    <div class="categoryHeader">
        <h5 class="category">
            Categorias 
        </h5>
        <img src="https://cdn-icons-png.flaticon.com/512/892/892498.png" id="downArrow" />
        <img src="https://cdn-icons-png.flaticon.com/512/130/130906.png" id="upArrow" />

    </div>
    <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
        <li>item 4</li>
    </ul>
</div>

<div class="searchArea">
    <h5 class="serchTitle">Procurando alguma notícia?</h5>
    <form  (submit)="searchTerm()">
        <input type="search" name="term"  [(ngModel)]="term.title" id="" placeholder="Pesquisar por...">
        <div class="buttonArea" (click)="searchTerm()">
            <img src="https://cdn-icons-png.flaticon.com/512/54/54481.png" class="imgButton"/>
        </div>
    </form>
</div>
